.button {
  @include font-text-primary;
  background-color: $color-black-primary;
  color: $color-white;
  border: none;
  border-radius: 50px;
  padding: 12px 97px;

  @include media-from(991) {
    padding: 13px 29px;
  }

  &--hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    border: none;
  }
}
