.about {
  background-color: $color-grey-tertiary;
  text-align: center;
  padding-top: 81px;
  padding-bottom: 71px;

  @include media-from(768) {
    padding-top: 120px;
    padding-bottom: 107px;
  }

  &__hedline {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 480px;
    margin: 0 auto;
  }

  &__text {
    @include font-text-primary;
  }
}
