.portfolio {
  background-color: $color-grey-tertiary;
  padding-top: 83px;
  padding-bottom: 80px;
  text-align: center;

  @include media-from(768) {
    padding-top: 112px;
    padding-bottom: 96px;
  }

  &__card {
    padding-top: 77px;

    @include media-from(768) {
      padding-top: 99px;
    }
  }

  &__project {
    margin-bottom: 33px;

    @include media-from(768) {
      margin-bottom: 45px;
    }
  }

  &__link {
    @include font-text-primary;

    text-decoration-line: underline;
  }
}
