.skills {
  padding-top: 83px;
  padding-bottom: 93px;
  text-align: center;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    padding-top: 70px;

    @include media-from(768) {
      display: flex;
    }
  }

  &__card {
    max-width: 170px;
    max-height: 211px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 80px;

      @include media-from(768) {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__subtitle {
    @include font-title-h3;

    color: $color-grey-primary;
    max-width: 75px;
    margin: 0 auto;
    margin-bottom: 40px;
    flex: 1 0 auto;
  }
}
