$color-black-primary: #070707;
$color-black-secondary: #000000;
$color-black-tertiary: #090909;
$color-grey-primary: #828282;
$color-grey-secondary: #e5e5e5;
$color-grey-tertiary: #f6f6f6;
$color-white: #ffffff;
